<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER"
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <root> <!-- 设置接收所有输出的通道 -->
        <level value="info"/>
        <!--<appender-ref ref="stdout"/>-->
        <appender-ref ref="stdout"/>
        <appender-ref ref="error"/>
    </root>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="[%d] %p %m (%c)%n" />
       </layout>
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="INFO" />
         <param name="LevelMax" value="FATAL" />
         <param name="AcceptOnMatch" value="true" />
      </filter>
    </appender>

    <appender name="info" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="file" value="/opt/data/goldmine/elevator/logs/elevator.log" />
       <param name="append" value="true" />
       <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n" />
       </layout>
       <param name="datePattern" value="'.'yyyy-MM-dd"/>
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="INFO" />
         <param name="LevelMax" value="FATAL" />
         <param name="AcceptOnMatch" value="true" />
      </filter>
    </appender>

    <appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="file" value="/opt/data/goldmine/elevator/logs/elevator_err.log" />
       <param name="append" value="true" />
       <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="%d{ISO8601} %p %c: %m%n" />
       </layout>
       <param name="datePattern" value="'.'yyyy-MM-dd"/>
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="ERROR" />
         <param name="LevelMax" value="FATAL" />
         <param name="AcceptOnMatch" value="true" />
      </filter>
    </appender>
</log4j:configuration>